Repository lucasfnCode/App-for-Studio-the-pilates-PI---FATEC, pull requests merged in 2025-06, with the labels that each got.

#24 Lucas documentation
  backend/pom.xml
  backend/src/main/java/br/com/semesperanca/app/managing/pilates/studios/application/documentation/OpenApiConfig.java
  backend/src/main/java/br/com/semesperanca/app/managing/pilates/studios/common/config/SecurityConfig.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/docs/app-managing-pilates-studios-docs.yml
  backend/src/main/resources/docs/paths/auth.yml
  backend/src/main/resources/docs/schemas/UserLoginDTO.yml
  backend/src/main/resources/docs/schemas/UserLoginOutputDTO.yml
Labels: documentation, enhancement, backend

#26 Criacao da entidade Receptionist e o seu CRUDE
  backend/src/main/java/br/com/semesperanca/app/managing/pilates/studios/application/controller/ReceptionistController.java
  backend/src/main/java/br/com/semesperanca/app/managing/pilates/studios/application/model/receptionist/ReceptionistInputDTO.java
  backend/src/main/java/br/com/semesperanca/app/managing/pilates/studios/application/model/receptionist/ReceptionistOutputDTO.java
  backend/src/main/java/br/com/semesperanca/app/managing/pilates/studios/model/receptionist/Receptionist.java
  backend/src/main/java/br/com/semesperanca/app/managing/pilates/studios/repository/user/InstructorRepository.java
  backend/src/main/java/br/com/semesperanca/app/managing/pilates/studios/repository/user/ReceptionistRepository.java
  backend/src/main/java/br/com/semesperanca/app/managing/pilates/studios/service/ReceptionistService.java
  backend/src/main/resources/application.properties
Labels: backend

#29 :bug:FIX
  frontend/assets/js/components/header.js
  frontend/assets/js/pages/session/session.js
Labels: enhancement, frontend

#30 Branch merge 2 adm
  .gitignore
  backend/src/main/java/br/com/semesperanca/app/managing/pilates/studios/repository/SessionRepository.java
  backend/src/main/java/br/com/semesperanca/app/managing/pilates/studios/repository/StudioRepository.java
  backend/src/main/java/br/com/semesperanca/app/managing/pilates/studios/service/SessionService.java
  backend/src/main/java/br/com/semesperanca/app/managing/pilates/studios/service/security/TokenService.java
  frontend/assets/js/components/header.js
  frontend/assets/js/index.js
  frontend/assets/js/pages/adm/admpage.js
  frontend/assets/js/pages/adm/student/studentManagement.js
  frontend/assets/js/pages/adm/student/studentReport.js
  frontend/assets/js/pages/schedulling/modalSchedulling.js
  frontend/assets/js/pages/schedulling/schedulling.js
  frontend/assets/js/pages/session/service/sessionService.js
  frontend/assets/js/service/api.js
  frontend/assets/js/service/studentService.js
Labels: bug, enhancement, backend, frontend
